[Unit]
Description=httun server daemon (unix socket + FastCGI)
Requires=httun-server.socket nftables.service
PartOf=httun-server.socket
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/httun/bin/httun-server --webserver-user=www-data --webserver-group=www-data
RuntimeDirectory=httun-server
RuntimeDirectoryMode=0755
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
Nice=0

Environment=RUST_BACKTRACE=1 RUST_LIB_BACKTRACE=0
Environment=HTTUN_LOG=info HTTUN_LOG_STYLE=never

# Start with root privileges.
# httun-server will drop privileges to httun:httun during startup.
User=root
Group=root
