name: Build and test

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  full:
    name: Full
    strategy:
      matrix:
        toolchain:
          - name: msrv
            version: 1.88.0
          - name: latest
            version: 1.93.0
          - name: nightly
            version: 'nightly'
        os:
          - name: linux
            version: ubuntu-latest
          - name: windows
            version: windows-latest
          - name: macos
            version: macos-latest
    runs-on: ${{ matrix.os.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Cache Rust
        uses: actions/cache@v5
        with:
          path: ~/.rustup
          key: rustup-${{ runner.os }}-${{ matrix.toolchain.version }}
      - name: Cache Cargo
        uses: actions/cache@v5
        with:
          path: ~/.cargo
          key: cargo-${{ runner.os }}-${{ matrix.toolchain.version }}

      # Install Rust toolchain and components.
      - run: rustup update ${{ matrix.toolchain.version }}
      - run: rustup default ${{ matrix.toolchain.version }}
      - if: matrix.toolchain.name == 'latest'
        run: rustup component add clippy rustfmt
      - if: matrix.toolchain.name == 'nightly'
        run: rustup component add rustc-codegen-cranelift-preview

      # Check formatting.
      - if: matrix.toolchain.name == 'latest' && matrix.os.name == 'linux'
        run: cargo fmt --check

      # Normal build and tests.
      - run: cargo build
      - if: matrix.toolchain.name == 'latest'
        run: cargo clippy -- --deny warnings
      - if: matrix.toolchain.name == 'latest'
        run: cargo clippy --tests -- --deny warnings
      - run: cargo test

      # Minimal build and tests.
      - run: cargo build --no-default-features
      - if: matrix.toolchain.name == 'latest'
        run: cargo clippy --no-default-features -- --deny warnings
      - if: matrix.toolchain.name == 'latest'
        run: cargo clippy --no-default-features --tests -- --deny warnings
      - run: cargo test --no-default-features

      # Dev build with Cranelift backend.
      - if: matrix.toolchain.name == 'nightly'
        run: cargo clean
      - if: matrix.toolchain.name == 'nightly'
        run: sh ./scripts/build-dev-cranelift.sh

# vim: ts=2 sw=2 expandtab
