name: Build and test

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  full:
    name: Full
    strategy:
      matrix:
        toolchain:
          - 1.88.0 # MSRV
          - 1.92.0
          - nightly
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: ~/.rustup
          key: rustup-${{ runner.os }}-${{ matrix.toolchain }}
      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: ~/.cargo
          key: cargo-${{ runner.os }}-${{ matrix.toolchain }}

      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - if: matrix.toolchain == 'nightly'
        run: rustup component add rustc-codegen-cranelift-preview
      - run: cargo build --verbose
      - run: cargo clippy -- --deny warnings
      - run: cargo clippy --tests -- --deny warnings
      - run: cargo test
      - if: matrix.toolchain == 'nightly'
        run: cargo clean
      - if: matrix.toolchain == 'nightly'
        run: sh ./scripts/build-dev-cranelift.sh

  client_only:
    name: Client only
    strategy:
      matrix:
        toolchain:
          - 1.88.0 # MSRV
          - 1.92.0
        os:
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: ~/.rustup
          key: rustup-${{ runner.os }}-${{ matrix.toolchain }}
      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: ~/.cargo
          key: cargo-${{ runner.os }}-${{ matrix.toolchain }}

      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - run: cargo build --verbose --package httun-client
      - run: cargo clippy --package httun-client -- --deny warnings
      - run: cargo clippy --tests --package httun-client -- --deny warnings
      - run: cargo test --package httun-client
      - run: cargo test --package httun-conf
      - run: cargo test --package httun-protocol

# vim: ts=2 sw=2 expandtab
